body{
    background-color: #F6F6F6;
    text-align: center;
}
.para{
    color: #11999E;
}
h1 {
    color:  #66BFBF;
}
h2 {
    color:   #11999E;
    font-size: 2.5em;
}
h3 {
    color:   #11999E;
}
a {
    color : #11999E;
}
.intro {
    width: 40%;
    margin:auto;
    line-height:2;
}

.head {
    margin-top : 50px;
    padding: 20px;
    font-family: 'Sacramento', cursive;
    font-size: 200%;
}

p {
    font-family: 'Merriweather', serif;
    font-weight: normal;
}
.top {
   position: absolute;
    right: 300px;
}

.bottom {
    display: inline-block;
    position: absolute;
    left: 300px;
    top : 200px;
}
.middle-container {
    margin : 100px auto 100px auto;
}

.round {
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right:30px;
}
.round2 {
    width: 25%;
    float: right;
    margin-left:30px;
}

.bottom-container {
    width: 50%;
    margin : 100px auto 100px auto;
    text-align: left;
    line-height:2;

}
.design {
    margin: auto auto 100px auto;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width:10%;
}
.cont {
    margin-bottom:50px;
}

.final {
    padding : 50px 0 20px;

    margin-bottom:0;
    margin-top: 100px;
    background-color: #D1E8E4;

}
.link1 {
    margin: 100px 100px 500px auto;
    position: relative;
    top: 20px; left: 40px;
    font-size: 25px;

}
.link2 {
    font-size: 25px;
    position: relative;
    top: 20px; right: 40px;

}
.link3 {
    font-size: 25px;
    position: relative;
    top: 20px; right: 25px;
}
a:hover {
    color: white;
}
.last {
    margin-top: 75px;
    color: black;
    font-size: 75%;

}

.BUTTON_PEF {
    margin-top: 30px;
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_PEF:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}